.railz-container {
  display: flex;
  padding: 16px;
  position: relative;
  border: 1px solid #eee;
  border-radius: 7px;
  flex-direction: column;
  width: auto;
  height: 360px;

  * {
    box-sizing: border-box;
  }
}

.railz-header-container {
  display: flex;
}

.railz-title {
  color: #003032;
  font-size: 18px;
  font-weight: 600;
  margin: 0;
  padding: 0;
  text-align: left;
  flex-grow: 1;
}

.railz-financial-ratios {
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: 8px;
}

.railz-financial-ratio-container-item {
  display: flex;
  flex-wrap: wrap;
  padding-top: 8px;
  border-bottom: thin solid #e0e0e0;
  padding-bottom: 8px;
  justify-content: space-between;

  &:last-child {
    border-bottom: 'none';
  }

  overflow: auto;

  // border: 1px solid yellow;
}

.railz-financial-ratio-info {
  // border: 1px solid green;

  .railz-ratio-values {
    display: flex;
  }

  .railz-ratio-name {
    display: flex;
    .railz-ratio-tooltip {
      margin-right: 8px;
    }
  }

  // * {
  //   border: 1px solid blue;
  // }
}

.railz-financial-ratio-ratios {
  // border: 1px solid red;
  .chart {
    width: 132px;
    height: 60px;
  }
}

.railz-financial-ratio-box {
  visibility: inherit;
  -webkit-font-smoothing: antialiased;
  color: rgb(0 0 0 / 87%);
  width: 128px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}

.railz-financial-ratio-text {
  visibility: inherit;
  -webkit-font-smoothing: antialiased;
  color: rgb(0 0 0 / 87%);
  margin: 0;
  line-height: 1.5;
  font-size: 1.25em;
  font-weight: 700;
}

.railz-financial-ratio-summary {
  line-height: 1.5;
  font-size: 1.25rem;
  max-width: 70%;
  font-weight: 700;
  margin-right: 8px;
}
