<p *ngIf="!!configuration && !filter">No Filter, submit your filter details</p>
<p *ngIf="!configuration && !!filter">No Token, submit your authentication details</p>
<p *ngIf="!configuration && !filter">
  No Token and Filter, submit your authentication and filter information
</p>
<div *ngIf="!!configuration && !!filter">
  <div
    class="md:grid md:grid-cols-1 md:gap-1"
    *ngIf="filter?.reportType === 'all'; else statements"
  >
    <div
      class="col-span-1 mt-1"
      *ngFor="let reportType of allReportTypes; let elementIndex = index"
    >
      <railz-visualizations
        [configuration]="configuration"
        [filter]="getNewFilter(filter, reportType)"
        [options]="getNewOptions(options, elementIndex)"
      >
      </railz-visualizations>
    </div>
  </div>
</div>
<ng-template #statements>
  <div
    class="md:grid md:grid-cols-1 md:gap-1 text-left"
    *ngIf="filter?.reportType === 'balanceSheets'; else transactions"
  >
    <h4 class="text-xl font-bold text-gray-900">Using Statements Chart Component</h4>
    <p>
      Statements Chart Component only accepts <b>balanceSheets</b>, <b>cashflowStatements</b> and
      <b>incomeStatements</b>
    </p>
    <railz-statements-chart [configuration]="configuration" [filter]="filter" [options]="options">
    </railz-statements-chart>
  </div>
</ng-template>
<ng-template #transactions>
  <div
    class="md:grid md:grid-cols-1 md:gap-1 text-left"
    *ngIf="filter?.reportType === 'bills'; else financialRatios"
  >
    <h4 class="text-xl font-bold text-gray-900">Using Transactions Control Component</h4>
    <p>
      Transactions Control Component only accepts <b>bills</b> and
      <b>invoices</b>
    </p>
    <railz-transactions-control
      [configuration]="configuration"
      [filter]="filter"
      [options]="options"
    >
    </railz-transactions-control>
  </div>
</ng-template>
<ng-template #financialRatios>
  <div
    class="md:grid md:grid-cols-1 md:gap-1 text-left"
    *ngIf="filter?.reportType === 'financialRatios'; else incomeStatements"
  >
    <h4 class="text-xl font-bold text-gray-900">Using Financial Ratios Component</h4>
    <p>Financial Ratios Component only accepts <b>financialRatios</b></p>
    <railz-financial-ratios [configuration]="configuration" [filter]="filter" [options]="options">
    </railz-financial-ratios>
  </div>
</ng-template>
<ng-template #incomeStatements>
  <div
    class="md:grid md:grid-cols-1 md:gap-1 text-left"
    *ngIf="['expenses', 'revenue'].includes('' + filter?.reportType); else creditScore"
  >
    <h4 class="text-xl font-bold text-gray-900">Using Pie Chart Component</h4>
    <p>Income Statements Component only accepts <b>expenses</b> and <b>revenue</b></p>
    <railz-income-statements [configuration]="configuration" [filter]="filter" [options]="options">
    </railz-income-statements>
  </div>
</ng-template>
<ng-template #creditScore>
  <div
    class="md:grid md:grid-cols-1 md:gap-1 text-left"
    *ngIf="['creditScore'].includes('' + filter?.reportType); else bankAccounts"
  >
    <h4 class="text-xl font-bold text-gray-900">Using Gauge Component</h4>
    <p>Credit Score Component only accepts <b>creditScore</b></p>
    <railz-credit-score [configuration]="configuration" [filter]="filter" [options]="options">
    </railz-credit-score>
  </div>
</ng-template>
<ng-template #bankAccounts>
  <div
    class="md:grid md:grid-cols-1 md:gap-1 text-left"
    *ngIf="filter?.reportType === 'bankAccounts'; else bankReconciliation"
  >
    <h4 class="text-xl font-bold text-gray-900">Using Bank Accounts Component</h4>
    <p>Bank Accounts Component only accepts <b>bankAccounts</b></p>
    <railz-bank-accounts [configuration]="configuration" [filter]="filter" [options]="options">
    </railz-bank-accounts>
  </div>
</ng-template>
<ng-template #bankReconciliation>
  <div
    class="md:grid md:grid-cols-1 md:gap-1 text-left"
    *ngIf="filter?.reportType === 'bankReconciliation'; else businessValuations"
  >
    <h4 class="text-xl font-bold text-gray-900">Using Bank Accounts Component</h4>
    <p>Bank Accounts Component only accepts <b>bankReconciliation</b></p>
    <railz-bank-reconciliation
      [configuration]="configuration"
      [filter]="filter"
      [options]="options"
    >
    </railz-bank-reconciliation>
  </div>
</ng-template>
<ng-template #businessValuations>
  <div
    class="md:grid md:grid-cols-1 md:gap-1 text-left"
    *ngIf="filter?.reportType === 'businessValuations'; else visualizations"
  >
    <h4 class="text-xl font-bold text-gray-900">Using Business Valuations Component</h4>
    <p>Bank Accounts Component only accepts <b>businessValuations</b></p>
    <railz-business-valuations
      [configuration]="configuration"
      [filter]="filter"
      [options]="options"
    >
    </railz-business-valuations>
  </div>
</ng-template>
<ng-template #taxBenchmarking>
  <div
    class="md:grid md:grid-cols-1 md:gap-1 text-left"
    *ngIf="filter?.reportType === 'taxBenchmarking'; else visualizations"
  >
    <h4 class="text-xl font-bold text-gray-900">Using Tax Benchmarking Component</h4>
    <railz-tax-benchmarking [configuration]="configuration" [filter]="filter" [options]="options">
    </railz-tax-benchmarking>
  </div>
</ng-template>
<ng-template #visualizations>
  <div class="md:grid md:grid-cols-1 md:gap-1 text-left">
    <h4 class="text-xl font-bold text-gray-900">Using Visualizations Component</h4>
    <railz-visualizations [configuration]="configuration" [filter]="filter" [options]="options">
    </railz-visualizations>
  </div>
</ng-template>
