.alert {
  padding: 20px;
  background-color: lightslategray;
  color: white;
}

.error {
  padding: 20px;
  background-color: #b30000;
  color: white;
}

.loading {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-sizing: border-box;
  border: none;
  border-radius: 50%;
  padding: 0.25em;
  width: 3em;
  height: 3em;
  color: #00884f;
  background-color: transparent;
  font-size: 16px;
  overflow: hidden;
}

.loading::-webkit-progress-bar {
  background-color: transparent;
}

/* Indeterminate */
.loading:indeterminate {
  -webkit-mask-image: linear-gradient(transparent 50%, black 50%), linear-gradient(to right, transparent 50%, black 50%);
  mask-image: linear-gradient(transparent 50%, black 50%), linear-gradient(to right, transparent 50%, black 50%);
  animation: progress 6s infinite cubic-bezier(0.3, 0.6, 1, 1);
}

:-ms-lang(x),
.loading:indeterminate {
  animation: none;
}

.loading:indeterminate::before,
.loading:indeterminate::-webkit-progress-value {
  content: '';
  display: block;
  box-sizing: border-box;
  margin-bottom: 0.25em;
  border: solid 0.25em transparent;
  border-top-color: currentColor;
  border-radius: 50%;
  width: 100% !important;
  height: 100%;
  background-color: transparent;
  animation: progress-pseudo 0.75s infinite linear alternate;
}

.loading:indeterminate::-moz-progress-bar {
  box-sizing: border-box;
  border: solid 0.25em transparent;
  border-top-color: currentColor;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  background-color: transparent;
  animation: progress-pseudo 0.75s infinite linear alternate;
}

.loading:indeterminate::-ms-fill {
  animation-name: -ms-ring;
}

@keyframes progress {
  0% {
    transform: rotate(0deg);
  }
  12.5% {
    transform: rotate(180deg);
    animation-timing-function: linear;
  }
  25% {
    transform: rotate(630deg);
  }
  37.5% {
    transform: rotate(810deg);
    animation-timing-function: linear;
  }
  50% {
    transform: rotate(1260deg);
  }
  62.5% {
    transform: rotate(1440deg);
    animation-timing-function: linear;
  }
  75% {
    transform: rotate(1890deg);
  }
  87.5% {
    transform: rotate(2070deg);
    animation-timing-function: linear;
  }
  100% {
    transform: rotate(2520deg);
  }
}

@keyframes progress-pseudo {
  0% {
    transform: rotate(-30deg);
  }
  29.4% {
    border-left-color: transparent;
  }
  29.41% {
    border-left-color: currentColor;
  }
  64.7% {
    border-bottom-color: transparent;
  }
  64.71% {
    border-bottom-color: currentColor;
  }
  100% {
    border-left-color: currentColor;
    border-bottom-color: currentColor;
    transform: rotate(225deg);
  }
}

.global-div {
  font-family: Inter, Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.progress-chart-total-unpaid {
  color: #424242;
  font-size: 14px;
  font-weight: 500;
  padding-top: 0.5rem;
  margin: 0;
}

.progress-chart-total-unpaid-value {
  font-weight: 600;
}

.progress-chart-values-div {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.title {
  color: #003032;
  font-size: 18px !important;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.progress-chart-label {
  color: #424242;
  font-size: 12px;
  font-weight: 500;
  padding-top: 0.5rem;
  margin: 0;
}

.progress-chart-value {
  font-weight: 600;
  font-size: '14px';
  color: #1e313b;
  margin: 0;
  padding-top: 0.5rem;
  /* padding-bottom: 1rem; */
}

.progress-chart {
  border-radius: 3px;
  width: 100%;
  height: 22px;
  padding-top: 0.5rem;
}

.progress-chart::-webkit-progress-bar {
  background-color: #f5f5f5 !important;
  border-radius: 3px;
}

.progress-chart::-webkit-progress-value {
  background-color: #ffd738 !important;
  border-radius: 3px;
}
