.railz-container {
  display: flex;
  padding: 16px;
  position: relative;
  border: 1px solid #eee;
  border-radius: 7px;
  flex-direction: column;
  justify-content: space-between;
  width: auto;
  height: 300px;
}

.railz-title {
  color: #003032;
  font-size: 18px;
  font-weight: 600;
  margin: 0;
  padding: 0;
  text-align: left;
}

.railz-pie-chart-container {
  visibility: inherit;
  -webkit-font-smoothing: antialiased;
  color: rgb(0 0 0 / 87%);
  height: 100%;
  display: flex;
  margin-left: -10px;
  flex-direction: row;
}

.railz-pie-chart-box {
  visibility: inherit;
  -webkit-font-smoothing: antialiased;
  color: rgb(0 0 0 / 87%);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}

.railz-pie-chart-text {
  visibility: inherit;
  -webkit-font-smoothing: antialiased;
  color: rgb(0 0 0 / 87%);
  margin: 0;
  line-height: 1.5;
  font-size: 1.25em;
  font-weight: 700;
}

.railz-pie-chart-percentage {
  visibility: inherit;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  line-height: 1.5;
  display: flex;
  font-size: 0.877em;
  font-weight: 500;

  .positive {
    color: #003032;
  }

  .negative {
    color: #7d0000;
  }
}

.legend {
  display: flex;
  flex-direction: column;
  margin-top: -3px;
}

.legend-value {
  font-size: 14px;
  color: #070a0e !important;
}

.legend-name {
  font-size: 12px;
  font-weight: normal;
  color: #424242 !important;
  white-space: normal;
}
