.rv-container {
  display: flex;
  padding: 16px;
  position: relative;
  border: 1px solid #eee;
  border-radius: 7px;
  flex-direction: column;
  justify-content: space-between;
  width: auto;
  height: 300px;
}

.rv-title {
  color: #006037;
  font-size: 18px;
  font-weight: 600;
  margin: 0;
  padding: 0;
  text-align: left;
}

.railz-gauge-chart-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  margin-left: -10;
  margin-top: 20px;
}

.railz-gauge-last-updated {
  align-self: center;
  font-size: 12px;
  font-weight: 500;
  line-height: 28px;
}
