.rv-container {
  display: flex;
  padding: 16px;
  position: relative;
  border: 1px solid #eee;
  border-radius: 7px;
  flex-direction: column;
  height: 202px;
  overflow: auto;
  line-height: 21px;
  box-sizing: border-box;

  * {
    font-family: Inter, Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue',
      Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  }
}

.rv-header-container {
  display: flex;
}

.rv-title {
  color: #1d7043;
  font-size: 18px;
  font-weight: 600;
  margin: 0;
  padding: 0;
  text-align: left;
  flex-grow: 1;
  line-height: 1.235;
}

.railz-bank-accounts-ul {
  list-style-type: none;
  font-weight: 400;
  padding: 0;
  margin: 0;
  padding-top: 8px;
  padding-bottom: 8px;
}

.railz-bank-accounts-ul-title {
  padding-top: 8px;
  color: black;
  line-height: 28px;
  font-size: 14px;
  font-weight: 500;
}

.railz-bank-accounts-item-container {
  display: flex;
  justify-content: space-between;
  padding: 4px 0;
}

.railz-bank-accounts-item-name {
  color: #424242;
  font-size: 14px;
  font-weight: 500;
}

.railz-bank-accounts-item-dot {
  margin: 0 16px 8px;
  display: flex;
  flex-grow: 1;
  border-bottom: 1px dashed #9e9e9e;
}

.railz-bank-accounts-item-value {
  text-align: end;
  color: #212121;
  font-size: 14px;
  font-weight: 700;
}
