.railz-container {
  display: flex;
  padding: 16px;
  position: relative;
  border: 1px solid #eee;
  border-radius: 7px;
  flex-direction: column;
  justify-content: space-between;
  width: auto;
  height: 360px;
}

.railz-title {
  color: #003032;
  font-size: 18px;
  font-weight: 600;
  margin: 0;
  padding: 0;
  text-align: left;
}

.railz-sparkline-chart-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  margin-left: -10;
  margin-top: 20px;
}
